*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato';
}

@keyframes anim1 {
    0%{background-color: blue; width: 400px;}
    50%{background-color: red; width: 10px;}
    100%{background-color: yellowgreen; width: 100px;}
}

.teste{
    width: 400px;
    height: 400px;
    background-color: blue;
    animation-name: anim1;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}