*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato';
}

.d1{
    width: 50%;
    height: 200px;
    overflow: scroll;
    vertical-align: top;
    display: inline-block;
    background-color: red;
}

.d2{
    width: 30%;
    height: 300px;
    display: inline-block;
    background-color: blue;
}

.d3{
    width: 20%;
    height: 300px;
    display: inline-block;
    background-color: green;
}